.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Adjust this to 'cover' if you want the image to cover the entire container */
    position: relative;
    width: 100%;
   
     /* This creates a 16:9 aspect ratio, adjust as needed */
  }

  .aspect-ratio {
    width: 100%;
    height: 0;
   
  }